@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?i2wx1v");
  src: url("/fonts/icomoon.eot?i2wx1v#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?i2wx1v") format("truetype"), url("/fonts/icomoon.woff?i2wx1v") format("woff"), url("/fonts/icomoon.svg?i2wx1v#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down_arrow:before {
  content: "\e900";
}

.icon-left_arrow:before {
  content: "\e902";
}

.icon-line:before {
  content: "\e901";
}

.icon-fb:before {
  content: "\e903";
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 44px;
  width: 44px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: #00A8BA;
  color: #fff;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
  outline: none;
  background: #CD3072;
  color: transparent;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #fff;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  color: #fff;
  left: -22px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -22px;
}

.slick-prev::before {
  content: url(/image/right_arrow.svg);
  display: block;
}

[dir="rtl"] .slick-prev::before {
  content: url(/image/right_arrow.svg);
  display: block;
}

.slick-next {
  color: #fff;
  right: -22px;
}

[dir="rtl"] .slick-next {
  left: -22px;
  right: auto;
}

.slick-next::before {
  content: url(/image/left_arrow.svg);
  display: block;
}

[dir="rtl"] .slick-next::before {
  content: url(/image/left_arrow.svg);
  display: block;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -50px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 0.75;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  padding: 0;
  margin: 0;
  color: #003A44;
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 1px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

a {
  display: block;
  text-decoration: none;
  color: #003A44;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 568px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1140px;
  }
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section {
  padding: 60px 0;
}

h3 {
  text-align: center;
  font-size: 36px;
}

@media (max-width: 568px) {
  h3 {
    font-size: 32px;
  }
}

h3 img {
  width: 65px;
  margin: 0 auto;
  display: block;
}

h3 span {
  display: block;
  font-size: 0.9rem;
  font-weight: 300;
}

header {
  background-image: url(/image/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10.5%;
  margin-top: 70px;
  overflow: hidden;
}

header .d-flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  header .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 5.5%;
    background-image: url(/image/header.jpg);
  }
}

@media (max-width: 768px) {
  header {
    height: calc(100vh - 70px);
    padding: 3.5% 2.5%;
    background-image: url(/image/header_ipad.jpg);
  }
}

@media (max-width: 568px) {
  header {
    margin-top: 60px;
    height: calc(100vh - 60px);
    background-image: url(/image/header_mobile.jpg);
  }
}

header .container > div {
  padding: 0 8%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1280px) {
  header .container > div {
    padding: 0 3%;
  }
}

@media (max-width: 1024px) {
  header .container > div {
    padding: 0;
  }
}

header h2 {
  padding: 15px 0 25px;
}

header h2 img {
  width: 100%;
}

header .title {
  width: 50%;
}

@media (max-width: 768px) {
  header .title {
    width: 75%;
  }
}

@media (max-width: 568px) {
  header .title {
    width: 100%;
  }
}

@media (max-width: 768px) {
  header .title p {
    font-size: 16px;
  }
}

header .title p span {
  display: block;
}

@media (max-width: 1280px) {
  header .title p span {
    display: inline;
  }
}

header .title .sub_tit {
  font-size: 24px;
  font-weight: 500;
  padding: 10px 0;
}

@media (max-width: 768px) {
  header .title .sub_tit {
    font-size: 20px;
  }
}

header .title .sub_tit img {
  display: inline-block;
  width: 30px;
  vertical-align: sub;
  margin-right: 10px;
}

header .pic {
  width: 50%;
}

@media (max-width: 768px) {
  header .pic {
    width: 75%;
    margin-top: 30px;
  }
}

@media (max-width: 568px) {
  header .pic {
    width: 100%;
    margin-top: 15px;
  }
}

header .scroll {
  position: relative;
  margin: 10% auto 0;
  text-align: center;
}

header .scroll i {
  position: absolute;
  font-size: 25px;
  top: 25px;
  left: 50%;
  display: block;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-name: scrollDown;
          animation-name: scrollDown;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes scrollDown {
  0% {
    top: 25px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 25px;
  }
}

@keyframes scrollDown {
  0% {
    top: 25px;
  }
  50% {
    top: 50px;
  }
  100% {
    top: 25px;
  }
}

.news {
  background-color: #f1f1f1;
}

.news_list_wrap {
  max-width: 900px;
  width: 900px;
  margin: 30px auto;
}

@media (max-width: 1280px) {
  .news_list_wrap {
    width: 100%;
  }
}

.news_list_wrap li {
  -webkit-transition: all .5s;
  transition: all .5s;
}

.news_list_wrap li:nth-child(odd) {
  background-color: #E7E7E7;
}

.news_list_wrap li:hover {
  background-color: rgba(205, 48, 114, 0.3);
}

.news_list_wrap li + li {
  border-top: 2px dotted #00A8BA;
}

.news_list_wrap a {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.news_list_wrap a .category {
  width: 15%;
  font-weight: 400;
}

@media (max-width: 768px) {
  .news_list_wrap a .category {
    width: 18%;
  }
}

.news_list_wrap a .category .icon {
  display: inline;
  width: 25px;
  vertical-align: bottom;
  margin-right: 10px;
}

.news_list_wrap a .tit {
  width: 65%;
  font-weight: 600;
}

.news_list_wrap a .tit i {
  color: #00A8BA;
  vertical-align: text-bottom;
  font-size: 20px;
  margin-left: 5px;
}

.news_list_wrap a .data {
  font-weight: 600;
  color: rgba(0, 58, 68, 0.35);
}

@media (max-width: 568px) {
  .news_list_wrap a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news_list_wrap a .category {
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 5px;
  }
  .news_list_wrap a .tit {
    width: 100%;
    font-weight: 500;
  }
  .news_list_wrap a .data {
    margin-top: 5%;
  }
}

.team_members {
  background: url(/image/team_bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-color: #003A44;
  color: #DBEDEC;
  padding-bottom: 150px;
}

@media (max-width: 992px) {
  .team_members .pc-block {
    display: none;
  }
}

.team_members .mb-block {
  display: none;
}

@media (max-width: 992px) {
  .team_members .mb-block {
    display: block;
  }
}

.team_members ul {
  margin-top: 30px;
}

.team_members ul .item {
  position: relative;
  width: calc(20% - 20px);
  height: 250px;
  background-color: #E4FFFD;
  border-radius: 15px;
}

.team_members ul .item .tit_name_wrap {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

@media (max-width: 568px) {
  .team_members ul .item .tit_name_wrap {
    top: 25px;
    left: 25px;
  }
}

.team_members ul .item .tit_name_wrap.r_position {
  left: inherit;
  right: 10px;
  text-align: right;
}

@media (max-width: 568px) {
  .team_members ul .item .tit_name_wrap.r_position {
    right: 25px;
  }
}

.team_members ul .item .tit_name_wrap h4 {
  font-size: 28px;
  font-weight: 500;
  color: #CD3072;
}

@media (max-width: 568px) {
  .team_members ul .item .tit_name_wrap h4 {
    font-size: 30px;
  }
}

.team_members ul .item .tit_name_wrap .appellation {
  color: #00A8BA;
}

.team_members ul .item img {
  position: absolute;
  bottom: 0;
}

@media (max-width: 568px) {
  .team_members ul .item img {
    width: 95%;
  }
}

.team_members .team_members_wrap ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_members .slider {
  width: 90%;
  margin: 30px auto 0;
}

.team_members .slider .item {
  height: 415px;
  margin: 0 10px;
}

@media (max-width: 568px) {
  .team_members .slider .item {
    margin: 0;
    height: 380px;
  }
}

@media (max-width: 568px) {
  .team_members .slider .item img {
    width: 85%;
  }
}

.timeline {
  position: relative;
  background-color: #00A8BA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline::before {
  content: '';
  position: absolute;
  top: calc(50% + 62px);
  left: 0;
  display: block;
  width: 95%;
  height: 2px;
  background-color: #003A44;
  -webkit-animation-name: oxxo;
          animation-name: oxxo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

@media (max-width: 992px) {
  .timeline::before {
    width: 2px;
    height: 75%;
    top: 20%;
    left: 16px;
    -webkit-animation-name: initial;
            animation-name: initial;
  }
}

.timeline::after {
  content: '';
  display: block;
  position: absolute;
  top: 58%;
  right: 4.5%;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #003A44;
  -webkit-transform: translateY(-58%);
          transform: translateY(-58%);
}

@media (max-width: 992px) {
  .timeline::after {
    border-width: 15px 10px 0 10px;
    border-color: #003A44 transparent transparent transparent;
    right: initial;
    left: 7px;
    top: initial;
    bottom: 30px;
  }
}

.timeline ul {
  height: 500px;
  margin: 30px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .timeline ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: initial;
        flex-wrap: initial;
    height: auto;
    padding: 0 0 0 20px;
  }
}

.timeline li {
  position: relative;
  width: 25%;
  height: 220px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

@media (max-width: 992px) {
  .timeline li {
    width: 100%;
    height: auto;
  }
  .timeline li + li {
    margin-top: 30px;
  }
}

.timeline li::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 10px 0 10px;
  border-color: #fff transparent transparent transparent;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 992px) {
  .timeline li::before {
    border-width: 10px 15px 10px 0;
    border-color: transparent #fff transparent transparent;
    left: -7px;
    bottom: initial;
  }
}

.timeline li::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  left: 50%;
  bottom: -38px;
  border-radius: 50%;
  border: 2px solid #003A44;
  background-color: #00A8BA;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 768px) {
  .timeline li::after {
    width: 5px;
    height: 5px;
    left: -23px;
    bottom: inherit;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.timeline li:nth-child(odd) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.timeline li:nth-child(even) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.timeline li:nth-child(even)::before {
  top: -15px;
  bottom: initial;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent #fff transparent;
}

@media (max-width: 992px) {
  .timeline li:nth-child(even)::before {
    top: initial;
    border-width: 10px 15px 10px 0;
    border-color: transparent #fff transparent transparent;
    left: -7px;
    bottom: initial;
  }
}

.timeline li:nth-child(even)::after {
  left: 50%;
  bottom: inherit;
  top: -36px;
}

@media (max-width: 768px) {
  .timeline li:nth-child(even)::after {
    left: -23px;
    top: 50%;
  }
}

.timeline li .year {
  font-style: italic;
  font-size: 2.5rem;
  letter-spacing: -2px;
  line-height: 1;
}

@media (max-width: 568px) {
  .timeline li .year {
    font-size: 2.3rem;
  }
}

.timeline li .year span {
  font-style: initial;
  font-size: .5em;
  margin-left: 3px;
}

.timeline li .event {
  color: #CD3072;
  font-size: 1.45em;
  margin-bottom: 10px;
}

@media (max-width: 568px) {
  .timeline li .event {
    margin-bottom: 15px;
  }
}

@-webkit-keyframes oxxo {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes oxxo {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

footer {
  padding: 20px 0;
  font-size: 0.9rem;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  text-align: center;
}

@media (max-width: 568px) {
  footer span {
    display: block;
  }
}

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  background-color: #fff;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

@media (max-width: 768px) {
  nav {
    padding: 15px 0;
  }
}

@media (max-width: 568px) {
  nav {
    padding: 10px 0;
    height: 60px;
  }
}

nav .d-flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1 .logo {
  height: 35px;
}

nav ul li a {
  padding: 23px 20px;
  display: inline-table;
}

nav ul li a:hover {
  color: #CD3072;
  padding: 23px 20px 18px;
  border-bottom: 5px solid #CD3072;
}

@media (max-width: 568px) {
  nav ul li a {
    font-size: 20px;
  }
}

nav .social_group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  nav .social_group {
    margin-top: 15px;
  }
}

nav .social {
  font-size: 40px;
}

nav .social a {
  padding: 0 20px;
}

nav .social a:hover {
  border-bottom: 0;
  padding: 0 20px;
}

@media (max-width: 568px) {
  nav .social a {
    font-size: 40px;
    color: #fff;
  }
}

nav .button-toggle {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 10000;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav .button-toggle {
    display: block;
  }
}

nav .button-toggle span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  background-color: #003A44;
}

nav .button-toggle span::after, nav .button-toggle span::before {
  -webkit-transition: all .5s;
  transition: all .5s;
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  top: 50%;
  height: 2px;
  background-color: #003A44;
}

nav .button-toggle span::before {
  top: -10px;
}

nav .button-toggle span::after {
  bottom: -10px;
  top: auto;
}

nav .button-toggle.active span {
  background-color: transparent;
}

nav .button-toggle.active span::after, nav .button-toggle.active span::before {
  top: 0;
}

nav .button-toggle.active span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 768px) {
  nav .button-toggle.active span::before {
    background-color: #fff;
  }
}

nav .button-toggle.active span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 768px) {
  nav .button-toggle.active span::after {
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  nav .dropdown {
    position: absolute;
    left: 0;
    top: 0;
    height: 0px;
    background-color: #fff;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
    z-index: 120;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
  }
  nav .dropdown.opening {
    height: 100vh;
    width: 100%;
    opacity: 1;
    visibility: visible;
    background-color: #00A8BA;
  }
  nav .dropdown li {
    width: 100vw;
    text-align: center;
  }
}
